<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Thanhtrung1999\HelloWorld\Controller\Index\Example">
        <plugin name="Thanhtrung1999_HelloWorld_Plugin" type="Thanhtrung1999\HelloWorld\Plugin\ExamplePlugin" sortOrder="10" disabled="false"  />
    </type>
</config>
